* {
  /* `otf-font-awesome` is required to be installed for icons */

  font-family: MesloLGM Nerd Font, JetBrains Mono Nerd Font, Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
}

@define-color border #9399b2;

/* window#waybar { */
/*     margin-top: 10px; */
/*     background: #313244; */
/* } */


window#waybar {
  background-color: #121212;
  color: #ffffff;
  transition-property: background-color;
  transition-duration: 0.5s;
  border-top: 8px transparent;
  border-radius: 8px;
  transition-duration: 0.5s;
  margin: 16px 16px;
  /* border: 2px solid #121212; */
}

#workspaces {
    transition: none;
    background: #121212;
    padding-right: 10px;
    padding-left: 6px;
    border-radius: 8px 0 0 8px;
    /* border-top: 2px solid #eeffff; */
    /* border-bottom: 2px solid #eeffff; */
    /* border-left: 2px solid #eeffff; */
}

#workspaces button {
    transition: none;
    color: #8f93a2;
    background: transparent;
    font-size: 16px;
}

#workspaces button.active {
    color: #bbc2cf;
    font-size: 16px;
}


#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-logo,
#custom-media,
#custom-nettraf,
#custom-news,
#custom-kernel,
#custom-packages,
#custom-memory,
#custom-date,
#custom-cpu,
#custom-news,
#custom-uptime,
#custom-cputemp,
#tray,
#mode,
#idle_inhibitor,
#custom-sep,
#mpd {
    background: #121212;
    color: #8f93a2;
    border-radius: 0;
    padding-left: 5px;
    padding-right: 5px;
    border-left: 0;
    border-right: 0;
    border-top: 2px solid #121212;
    border-bottom: 2px solid #121212;
}

#tray {
  padding: 10px;
}

#custom-date {
  /* color: #bdbdbd; */
  color: #00ffaa;
  margin-right: 10px;
  padding: 0;
  /* border-radius: 0 8px 8px 0; */
  border-radius: 0;
  /* border: none; */
  border-top: 2px solid #121212;
  border-bottom: 2px solid #121212;
}

#custom-sep {
    font-size: 22px;
    color: #bbc2cf;
}

#custom-news {
  /* color: #bdbdbd; */
  color: #73daca;
}

#custom-packages {
  /* color: #bdbdbd; */
  color: #ff8800;
}

#custom-cpu {
  /* color: #bdbdbd; */
  color: #ec5f67;
}

#custom-memory {
  /* color: #bdbdbd; */
  color: #ecbe7b;
}

#custom-cputemp {
  /* color: #bdbdbd; */
  color: #7dcfff;
}

#custom-kernel {
  /* color: #bdbdbd; */
  color: #c678dd;
}
